@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
}

.grid {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.sidebar {
  background-color: #F5F5F5;
  padding: 20px;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.sidebar h1 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.sidebar .instruction {
  margin-bottom: 30px;
}
.map {
  height: 100vh;
  z-index: 2;
}

.chart-container {
  width: 350px;
  height: 400px;
  font-weight: bolder;
}

.chart-container {
  font-weight: bolder;
}



